@import 'measurements';
//@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

.itemCont{
	display: inline-block;
	height: 100%;
	margin: 5px 10px 5px 5px;
	font-family: 'Playfair Display';
	font-weight: bold;

	@media (max-width: 200px){
		display: block;
	}
	@media (min-width: $winLarge){
		margin: 5px 12px 5px 8px;
	}
	@media (min-width: $winXL){
		margin: 8px 15px 8px 10px;
	}
}

.itemCont:hover{
	cursor: pointer;
}

.linkStyle{
	color: black;
	text-decoration: none;
}

.active{
	text-decoration: underline;
}